<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:each="student : ${students}">
    <h2 th:inline="text"><b>[[${student.fName}]]</b> [[${student.lName}]]</h2>

        <th:block th:each="course : ${student.courses}">

            <h4  th:inline="text"><b>[[${course.title}]]</b> for [[${course.credits}]] credits.</h4>
            <h6 th:inline="text"><b>[[${course.description}]]</b></h6>


        </th:block>
</div>
</body>
</html>